[Unit]
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/ztb5129/service/service-data/teac-remote-control/web
ExecStart=/usr/bin/npm run dev

[Install]
WantedBy=multi-user.target
